<h1>Le <%= @quad.name %></h1>

<p>Couleur : <%= @quad.color %></p>
<p>Puissance : <%= @quad.power %></p>
<p>Prix :<%= @quad.price %> </p>

<a class="btn btn-primary" href="#"> Réserver le NOW !!! </a>


<div class="card-product">
  <img src=<%= @quad.img %> />
  <div class="card-product-infos">
  </div>
</div>
