<h1>Le <%= @quad.name %></h1>

<p>Couleur : <%= @quad.color %></p>
<p>Puissance : <%= @quad.power %></p>
<p>Prix :<%= @quad.price %> </p>

<a class="btn btn-primary" href="#"> Réserver le NOW !!! </a>


<div class="card-product">
  <img src=<%= @quad.img %> />
  <div class="card-product-infos">
  </div>
</div>
<%#= raise %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="pk.eyJ1Ijoib3ZuaSIsImEiOiJjbGFqcG9lNzUwMTRjM3BtcXZyNTY1amVwIn0.3We2V6QgOtX4ZzsXpz4gqw">
  </div>
